html{
    font-family: Montserrat;
    font-size: 16px;
    width: 100%;
    height: 100%;
}

body{
    margin: 0; 
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem 1.5rem 4rem ;
  gap: 1.5rem;
}

.leftside {
  flex: 2;
  min-width: 0;
}

.sidebar {
  flex: 1;
  min-width: 15rem;
}

h2{ 
    font-size: 1.25rem;
    font-weight: 700;
    margin: .5rem 0 .5rem 0;
}

h3{ /*by*/
    font-size: 0.88rem;
    color: #616161;
    font-weight: 500;
    margin: .5rem 0 .5rem 0;
}

p{
    font-weight: 400;
    font-size: 0.88rem;
    color: black;
    margin: .5rem 0 .5rem 0; 
}

/*span cards*/
span{
    font-weight: 700;
}

.header-background-green {
    background-color: #02A28F;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;   
}

.background-green {
    background-color: #02A28F;
    color: #FFFFFF;
    border-radius: .73rem;
    box-shadow: 0 .63rem .63rem 0 #0000001A;
}

.font-green{
    font-size: 0.88rem;
    color:#02A28F;
    font-weight: 400;
}

.header{
    padding: .8rem 0 .8rem 0rem;  
}

.header-text{
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0 0 3.2rem 4rem ; 
}

.banner{
    position: relative;
    display:block; 
}

.banner-img{
    width: 100%;
    border-radius: .63rem;
    display: block;
    box-shadow: 0 .63rem 1.25rem 0 #0000001A;
    margin-bottom: 1.5rem;
    height: 25rem;
    object-fit: cover;
    object-position: 100%;
}

.banner-text{
    position: absolute;
    bottom: .2rem;
    margin: 0 1.5rem 1.5rem 1.5rem;
    display: flex;
    flex-direction: column; 
    color: #FFFFFF;  
}

.banner-text h1{
    font-weight: 400;
    font-size: 1rem;
    margin: 0;
}

.banner-text p{
    font-weight: 700;
    font-size: 2rem;
    color: #FFFFFF;
    margin: 0;
}

.banner-text h2{
    font-weight: 500;
    font-size: 1rem;
    margin: 0;
}

.banner-text span{
    font-weight: 700;
}

.gradient{
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(102, 102, 102, 0) 0%, #000 100%);
    border-radius: .63rem;
}

#title-cards{
    padding: 1rem 1.5rem 1rem 1.5rem;
    display: grid;
    grid-auto-flow: column;
}

#title-cards p{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
}

.buttom-text{
    color: white;
    text-decoration-line: underline;
    font-size: .88rem;
    font-weight: 500;
    text-align: end;
    align-content: center;
    cursor: pointer;
}

#title-cards-2{
    padding: .25rem 1.5rem .25rem 1.5rem;
    display: grid;
    grid-auto-flow: column;
}

#title-cards-2 p{
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 700; 
}

.grid-cards{
    display: grid; 
    grid-template-columns:repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: .70rem;
}

.cards{
    background-color: #FFFFFF;
    box-shadow: 0 .63rem .63rem 0 #0000001A;
    border-radius: 1rem;
    width: 100%;   
}

.text-cards{
    margin: 1rem;
}

.img-cards{
    width: 100%;
    object-fit: cover;
    object-position: 100%;
}

.cards-2{
    background-color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 .63rem .63rem 0 #0000001A;
    border-radius: .75rem;
    margin: 1.2rem 0 1.4rem 0;
    gap: 1rem;
    width: 100%;
    padding: .75rem 0 .75rem 0;
}

.text-cards-2{
    font-size: 0.88rem;
    margin: 0;
}

.img-card-2{
    margin: 0 0 0 .75rem;
    align-items: center;
    object-fit: cover;
    object-position: 100%;
}

.text-categorias {
    list-style: none;
    padding: 0;
    margin: 0;
}

.text-categorias li {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-weight: 500;
    color: #616161;
    margin-top: .85rem;
}

.footer{
    border-radius: 0;
    margin-top: 4rem;
    align-items: center;
}

.footer-text{
    font-weight: 600;
    font-size: .88rem;
    text-align: center;
    padding: 1.1rem 0 1.1rem 0rem;
}



/*mobile*/
@media (max-width: 767px) {
    .page {
    flex-direction: column;
    padding: 0 .5rem 1rem .5rem ;
    margin: 1rem 0 0 0 ;
}

    body{
    width: fit-content;
}
  
    .header-background-green{
    margin: 0;
}

    .background-green{
    margin: 0;
}

    .header-text{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 1.3rem 0 1.3rem 0;
    margin: 0 0 1.5rem 0;
}

    .banner-text{
    margin-left: 1.5rem;
}

    .banner-text p{
    font-size: 1.5rem;
    padding: .5rem 0 .5rem 0;
}

    .banner-img{
    margin-bottom: 1.5rem;
    object-fit: cover;
    object-position: 60%;
    height: 25rem;
}
    
    .grid-cards{
    grid-template-columns:1fr;
    margin-top: 1.6rem;
}

    #title-cards{
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-auto-flow: column;

}
    #title-cards p{
    margin:.8rem 0 .8rem 0;
    align-items: center;
}

    #title-cards-2{
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-auto-flow: column;

}
    #title-cards-2 p{
    margin:.8rem 0 .8rem 0;
    align-items: center;
    text-align: center;
}
}

@media (min-width: 767px) and (max-width: 1023px){
  .page{
    flex-direction: column;
    padding: 0 3rem 1rem 3rem ;
    margin: 1rem 0 0 0 ;
}
}

@media (min-width: 1024px) and (max-width: 2560px){

.page {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4rem 1.5rem 4rem ;
  gap: 1.5rem;
}

.leftside {
  flex: 2;
  min-width: 0;
}

.sidebar {
  flex: 1;
  min-width: 15rem;
}
}